<!--ユーザーの詳細画面（Home画面：ログイン直後に表示される画面）-->

<div>
	<!--フラッシュメッセージの表示-->
	<%= flash[:notice] %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>

		<!--画面左側-->
		<!--テンプレートの呼び出し（render '部分テンプレートファイル名', ローカル変数: 渡す値）-->
		<%= render 'books/newform', user: @user, book: @book %>

		<!--画面右側-->
		<!--このユーザーが投稿した書籍一覧表示-->
	  <div class='col-md-8 offset-md-1'>
	    <h2>Books</h2>
	    <table class='table table-hover table-inverse'>
	      <thead>
	        <tr>
	          <th></th>
	          <th>Title</th>
	          <th>Opinion</th>
	          <th colspan="3"></th>
	        </tr>
	      </thead>
	      <% @books.each do |book| %>   <!--「@books.each」Bookレコードの数だけ繰り返し処理を行う-->
	      <tbody>
	      	<tr>
	      		<td>
	      			<%= link_to user_path(@user) do %>
	      				<%= image_tag @user.get_profile_image(100,100) %>
	      			<% end %>
	      		</td>
	      		<!--書籍詳細ページ(books/show.html.erb)へ遷移-->
	      		<td><%= link_to book.title, book_path(book) %></td>
	      		<td><%= book.body %></td>
	      	</tr>
	      </tbody>
	      <% end %>
	    </table>
		</div>

  </div>
</div>