<!--書籍の詳細画面（Book Detail）-->

<div>
	<!--フラッシュメッセージの表示-->
	<%= flash[:notice] %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>

		<!--画面左側-->
		<!--テンプレートの呼び出し（render '部分テンプレートファイル名', ローカル変数: 渡す値）-->
		<%= render 'newform', user: @user, book: @book_new %>

    <!--画面右側-->
    <!--書籍の詳細-->
    <div class='col-md-8 offset-md-1'>
      <h2>Book Detail</h2>
      <table class='table table-hover table-inverse'>
        <tbody>
          <tr>
            <!--ユーザー画像、ユーザー名-->
            <td><%= image_tag @user.get_profile_image(100,100) %><br>
                <!--ユーザーの詳細画面(users/show.html.erb)へ遷移-->
                <%= link_to @user.name, user_path(@user.id) %></td>
            <!--書籍詳細画面(books/show.html.erb)へ遷移-->
            <td><%= link_to @book.title, book_path %></td>
            <td><%= @book.body %></td>

            <% if @user == current_user %>  <!--もし投稿者=現在ログインしてるユーザーなら-->
              <td>  <!--編集ボタン　書籍編集ページ(books/edit.html.erb)へ遷移-->
                <!--bt：ボタン、btn-sm：ボタンの大きさ(小)、btn-success：ボタンの種類を指定-->
                <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success"%>
              </td>
              <td>  <!--削除ボタン　destroyはHTTPメソッドがPOSTでなくDELETEのため、HTTPmメソッドをdeleteに指定-->
                <%= link_to 'Destroy', book_path(@book), class: "btn btn-sm btn-danger",
                              method: :delete, "data-confirm" => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
